.center-element {
    margin: 0 auto;
    display: block !important;
    text-align: center;
    margin-bottom: 15px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.btn-default {
    background-color: #ccc;
    border: 1px solid #ccc;
    color: white;
    transition: .4s;
    cursor: pointer;
}

.btn-default:hover {
    border: 1px solid #2196F3;
    background-color: #2196F3;
}

.post-url {
    width: calc(100% - 120px);
}

.post-button {
    width: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 17px;
}

.switch input {
    display:none;
} 

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.fright {
    float: right;
}

.pt-150 {
    padding-top: 150px;
}

.pt-50 {
    padding-top: 50px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-10 {
    margin-right: 10px;
}